spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:postgresql://postgresql-orders:5432/spring_shop_orders_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver